body {
    background-color: rgb(160, 247, 110);
    text-align: center;
    margin: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: center;

    

}






h1 {
    background-color: blueviolet;
    width: 25%;

    padding: 5%;
    
}






















